* {
    background-color: rgb(253, 255, 245);
}

#title {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

#main {
    display: flex;
    flex-flow: column;
    justify-content: center;
}


#container {
    display: grid;
    margin: 2rem auto;
}

.cell {
    border: 1px rgb(27, 27, 27) solid;
    padding: 5px;
    text-align: center;
}

.paint {
    background-color:rgb(27, 27, 27);
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 1em
}

button {
    background-color: rgb(223, 223, 223);
    border: none;
    padding: 10px;
}

button:hover {
    box-shadow: 1px 1px 10px rgb(37, 37, 37);
}

button:active {
    box-shadow: 1px 1px 20px black;
}
